body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 49em;
}

.heading {
  font-weight: bold;
  padding: 20px;
  margin: 20px;
  font-size: 4em;
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.list {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

#playerX, #playerO {
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: blue;
  background-color: yellow;
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

#start {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  font-size: 2em;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 5px;
}

#displayResult {
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
}

#restart {
  margin-top: 20px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
}

#totalScoreX, #totalScoreO {
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: bold;
}
